// colors
$dark-gray: #a1a1a1;
$black: #000;
$white: #fff;
$very-dark-gray: #454545;

// font sizes
$fs-md: 15px;
$fs-lg: 36px;
$fs-xl: 48px;

// transitions
$ts-200: all 200ms ease-in-out;
$ts-300: all 300ms ease-in-out;